@using BymseRead.Core.Models
@using BymseRead.DataLayer.Entity
@using BymseRead.DataLayer.Helpers
@{
    var style = Bookmark.Type == BookmarkType.Custom ? $"background: #{Bookmark.ColorCode.GetAttachedString()};" : "";
}
<li class="bookmark-item__wrapper">
    <div class="bookmark-item @CssModifier" style="@style">
        <div class="bookmark-item__content" @onclick="@OnClickInternal">
            <div class="bookmark-item__title">@Bookmark.Title</div>
            <div class="bookmark-item__bottom">
                <div class="bookmark-item__pages">@Bookmark.Page / @Book.TotalPages</div>
                <div class="bookmark-item__date">@Bookmark.Date.ToString("yyyy.MM.dd")</div>
            </div>
        </div>
        @if(Bookmark.Type == BookmarkType.Custom)
        {
            <button class="button-icon button-icon_edit bookmark-item__edit" @onclick="OnEditClick"></button>
        }
    </div>
</li>

@code {

    [Parameter]
    public BookModel Book { get; set; }

    [Parameter]
    public BookmarkModel Bookmark { get; set; }

    [Parameter]
    public Func<BookmarkModel, Task> OnEdit { get; set; }
    
    [Parameter]
    public Func<BookmarkModel, Task> OnClick { get; set; }

    private Task OnEditClick()
    {
        return OnEdit(Bookmark);
    }

    private Task OnClickInternal()
    {
        return OnClick(Bookmark);
    }

    private string CssModifier => Bookmark.Type == BookmarkType.LastPage ? "bookmark-item_last-page" : "";

}