@using BymseBooks.Core.Models
@using BymseBooks.DataLayer.Entity
@using BymseBooks.DataLayer.Helpers

<a class="book-card @(NoLink ? "book-card_no-link" : null)" href="@(NoLink ? null : $"/Book/{Book.Id}")">
    <div class="book-card__title">
        @Book.Title
    </div>
    
    @if(ShowAuthor && !Book.Author.IsNullOrEmpty())
    {
        <div class="book-card__author">
            @Book.Author
        </div>
    }

    <div class="book-card__tags">
        @foreach (var tag in Book.Tags)
        {
            <span>@tag</span>
        }
    </div>

    @if (Book.State == BookState.Paused)
    {
        <div class="book-card__paused">
            <span>paused</span>
        </div>
    }
    
    <div class="book-card__progress">
        @if (Book.Percents.HasValue)
        {
            <span class="book-card__progress_title">@Book.Percents%</span>
            <div class="book-card__progress-bar">
                <span style="width: @Book.Percents%" class="book-card__progress-bar_done"></span>
            </div>
        }
    </div>
</a>

@code {
    //todo: detect overflow and add ellipsis

    [Parameter]
    public BookModel Book { get; set; }
    
    [Parameter]
    public bool ShowAuthor { get; set; }
    
    [Parameter]
    public bool NoLink { get; set; }

}